body {
  max-width: 600px;
  background-color: azure;
  margin: auto;
  font-family: Arial, Helvetica, sans-serif;
}

.menu_item {
  font-size: large;
  display: inline;
  color: pink;
  font-size: large;
}

ul {
  list-style-type: none;
  margin: 10;
  padding: 0;
}

li {
  float: left;
}

li a {
  display: block;
  width: 100px;
  text-decoration: none;
  border: 0.5px dashed grey;
  padding: 2px;
  text-align: center;
}

li a:hover {
  background-color: white;
  color: pink;
}

.active {
  background-color: rgb(42, 161, 165);
}

.list_item {
  list-style-type: none;
  float: initial;
  margin-left: 20px;
}

.arnie_text,
.whippetPara {
  text-align: justify;
}

.arnie_pic {
  float: right;
  padding-left: 15px;
}

.slinky_pic {
  border-radius: 15px;
}


